.feedback {
  background-color: $blue;
  display: flex;
  position: relative;
}

.feedback::before {
  position: absolute;
  content: "";
  width: 1720px;
  height: 670px;
  background-image: url("../img/img/plane@x1.png");
  top: 0;
  left: 0;

  @media (max-resolution: $retina-dpi), (max-resolution: $retina-dppx) {
    background-image: url("../img/plane@x2.png");
    background-size: cover;
  }
}

.feedback__image {
  width: 511px;
  height: 288px;
  z-index: 10;
}

.feedback__wrapper {
  width: 570px;
  margin: 0;
  margin-left: 460px;
  margin-top: 96px;
  padding: 0;
}

.feedback__title {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 51px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $white;
  padding: 0;
  margin: 0;
}

.feedback__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Roboto", monospace;
  color: $white;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 50px;
}

.feedback__form {
  width: 573px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback__input {
  background-color: $blue-input;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Roboto", monospace;
  color: $white;
  padding: 0;
  padding-left: 20px;
  margin: 0;
}

.feedback__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white;
}

.feedback__input::-moz-placeholder { /* Firefox 19+ */
  color: $white;
}

.feedback__input:-ms-input-placeholder { /* IE 10+ */
  color: $white;
}

.feedback__input:-moz-placeholder { /* Firefox 18- */
  color: $white;
}

.feedback__name {
  width: 270px;
  height: 50px;
  margin-bottom: 50px;
}

.feedback__phone-number {
  width: 269px;
  height: 50px;
}

.feedback__message {
  width: 570px;
  height: 154px;
  resize: none;
  margin-bottom: 39px;
}

.feedback__button {
  width: 270px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid $white;
  background-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 113px;
}

.feedback__label {
  width: 230px;
  height: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  order: 10;
  font-family: "PT Mono", "Roboto", monospace;
}
